			
			<!-- start: Content -->
			<div id="content" class="span11">
			
			
			<div class="row-fluid">
				
				<div class="stats-date span3">
					<div>Monthly Statistics</div>
					<div class="range">02/10/2012 - 02/11/2012</div>
				</div>
				
				<div class="stats span9">
					
					<div class="stat">
						<div class="left">
							<div class="number green">1.324.996</div>
							<div class="title"><span class="color green"></span> Visits</div>
						</div>
						<div class="right">	
							<div class="arrow">
								<img src="img/uparrow.png">
							</div>
							<div class="percent">+13%</div>
						</div>
					</div>
					
					<div class="stat">
						<div class="left">
							<div class="number yellow">12.894.765</div>
							<div class="title"><span class="color yellow"></span> Pageviews</div>
						</div>
						<div class="right">	
							<div class="arrow">
								<img src="img/uparrow.png">
							</div>
							<div class="percent">+17%</div>
						</div>
					</div>
					
					<div class="stat">
						<div class="left">
							<div class="number blue">432.980</div>
							<div class="title"><span class="color blue"></span>Visitors</div>
						</div>
						<div class="right">	
							<div class="arrow">
								<img src="img/downarrow.png">
							</div>
							<div class="percent">-33%</div>
						</div>
					</div>
					
					<div class="stat">
						<div class="left">
							<div class="number red">11.324</div>
							<div class="title"><span class="color red"></span>New Visitors</div>
						</div>
						<div class="right">	
							<div class="arrow">
								<img src="img/uparrow.png">
							</div>
							<div class="percent">+3%</div>
						</div>
					</div>
						
				</div>
			
			</div>	

			<div class="row-fluid">
				
				<div id="stats-chart2"  class="span12" style="height:300px;overflow:hidden;" ></div>
			
			</div>
			
			<hr>
			
			<div class="row-fluid">
				
				<div class="widget span5" onTablet="span12" onDesktop="span5">
					
					<h2><span class="glyphicons globe"><i></i></span> Demographics</h2>
					
					<hr>
					
					<div class="content">
						
						<div class="verticalChart">
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>37%</span>
									</div>
								
								</div>
								
								<div class="title">US</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>16%</span>
									</div>
								
								</div>
								
								<div class="title">PL</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>12%</span>
									</div>
								
								</div>
								
								<div class="title">GB</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>9%</span>
									</div>
								
								</div>
								
								<div class="title">DE</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>7%</span>
									</div>
								
								</div>
								
								<div class="title">NL</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>6%</span>
									</div>
								
								</div>
								
								<div class="title">CA</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>5%</span>
									</div>
								
								</div>
								
								<div class="title">FI</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>4%</span>
									</div>
								
								</div>
								
								<div class="title">RU</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>3%</span>
									</div>
								
								</div>
								
								<div class="title">AU</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>1%</span>
									</div>
								
								</div>
								
								<div class="title">N/A</div>
							
							</div>	
							
						</div>
					
					</div>
					
				</div><!--/span-->
				
				<div class="widget span3 noMargin" onTablet="span6" onDesktop="span3">
					
					<h2><span class="glyphicons pie_chart"><i></i></span> Browsers</h2>
					
					<hr>
					
					<div class="content">
						
						<div class="browserStat big">
							<img src="img/browser-chrome-big.png" alt="Chrome">
							<span>34%</span>
						</div>
						<div class="browserStat big">
							<img src="img/browser-firefox-big.png" alt="Firefox">
							<span>34%</span>
						</div>
						<div class="browserStat">
							<img src="img/browser-ie.png" alt="Internet Explorer">
							<span>34%</span>
						</div>
						<div class="browserStat">
							<img src="img/browser-safari.png" alt="Safari">
							<span>34%</span>
						</div>
						<div class="browserStat">
							<img src="img/browser-opera.png" alt="Opera">
							<span>34%</span>
						</div>	
								
						
					</div>
				</div>
				
				<div class="widget span4" onTablet="span6" onDesktop="span4">
					<h2><span class="glyphicons charts"><i></i></span> Weekly Stat</h2>
					
					<hr>
					
					<div class="content">
						<div class="sparkLineStats">

	                        <ul class="unstyled">
	                            
	                            <li><span class="sparkLineStats3"></span> 
	                                Pageviews: 
	                                <span class="number">781</span>
	                            </li>
	                            <li><span class="sparkLineStats4"></span>
	                                Pages / Visit: 
	                                <span class="number">2,19</span>
	                            </li>
	                            <li><span class="sparkLineStats5"></span>
	                                Avg. Visit Duration: 
	                                <span class="number">00:02:58</span>
	                            </li>
	                            <li><span class="sparkLineStats6"></span>
	                                Bounce Rate: <span class="number">59,83%</span>
	                            </li>
	                            <li><span class="sparkLineStats7"></span>
	                                % New Visits: 
	                                <span class="number">70,79%</span>
	                            </li>
	                            <li><span class="sparkLineStats8"></span>
	                                % Returning Visitor: 
	                                <span class="number">29,21%</span>
	                            </li>

	                        </ul>
	
	                    </div><!-- End .sparkStats -->
					</div>
				</div><!--/span-->
			
			</div>
			
			<hr>
			
			<div class="row-fluid">
				
				<div class="widget span6" onTablet="span6" onDesktop="span6">
					<h2><span class="glyphicons facebook"><i></i></span>Facebook Fans</h2>
					<hr>
					<div class="content">
						<div id="facebookChart" style="height:300px;overflow:hidden;" ></div>
					</div>
				</div><!--/span-->
				
				<div class="widget span6" onTablet="span6" onDesktop="span6">
					<h2><span class="glyphicons twitter"><i></i></span>Twitter Followers</h2>
					<hr>
					<div class="content">
						<div id="twitterChart" style="height:300px;overflow:hidden;" ></div>
					</div>
				</div><!--/span-->
			
			</div>
				
			
       
					
			</div>
			<!-- end: Content -->
			
			<!-- start: Widgets Area -->
<div id="widgets-area" class="span2 hidden-tablet hidden-phone">
	
	<ul class="nav tab-menu nav-tabs" id="myTab">
		<li class="active"><a href="#charts"><i class="fa-icon-bar-chart"></i></a></li>
		<li><a href="#users"><i class="fa-icon-group"></i></a></li>
		<li><a href="#messages"><i class="fa-icon-envelope"></i></a></li>
		<li><a id="close-widgets-area" href="#"><i class="fa-icon-signin"></i></a></li>
	</ul>
	 
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane active" id="charts">
			
			<div class="bar-stat">
				<span class="title">Account balance</span>
				<span class="value">$19 999,99</span>
				<span class="chart green">7,3,2,6,6,3,9,0,1,4</span>
			</div>

			<hr>

			<div class="bar-stat">
				<span class="title">Clients</span>
				<span class="value">1278</span>
				<span class="chart yellow">8,2,5,4,7,4,7,2,5,9</span>
			</div>

			<hr>

			<div class="bar-stat">
				<span class="title">Orders</span>
				<span class="value">5876</span>
				<span class="chart blue">2,4,6,8,3,5,9,3,2,2</span>
			</div>

			<hr>

			<div class="bar-stat">
				<span class="title">Messages</span>
				<span class="value">673</span>
				<span class="chart red">0,3,3,8,3,3,2,7,8,4</span>
			</div>
			
			<hr>
			
			<div id="cpu-usage"></div>
			
			<ul class="progress-bars">
				
				<li>
					<span class="title">Free Memory</span>
					<span class="percent"></span>
					<div class="taskProgress progressSlim progressGreen">80</div>
				</li>
				
				<li>
					<span class="title">Free HDD Drive</span>
					<span class="percent"></span>
					<div class="taskProgress progressSlim progressYellow">20</div>
				</li>
				
				<li>
					<span class="title">Free SSD Drive</span>
					<span class="percent"></span>
					<div class="taskProgress progressSlim progressBlue">57</div>
				</li>
				
				<li>
					<span class="title">Transfer</span>
					<span class="percent"></span>
					<div class="taskProgress progressSlim progressRed">45</div>
				</li>	
				
			</ul>	

		</div>
		<div class="tab-pane" id="users">
			
			<ul class="users-list">
            	<li>
                    <a href="#">
						<span class="status active"></span>
						<span class="avatar"><img class="img-circle" src="img/avatar.jpg" alt="Avatar"></span>
						<span class="name">Łukasz Holeczek</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<span class="status busy"></span>
						<span class="avatar"><img class="img-circle" src="img/avatar2.jpg" alt="Avatar"></span>
						<span class="name">Megan Abott</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<span class="status disable"></span>
						<span class="avatar"><img class="img-circle" src="img/avatar3.jpg" alt="Avatar"></span>
						<span class="name">Kate Ross</span>
                    </a>
                </li>
				<li>
                    <a href="#">
						<span class="status active"></span>
						<span class="avatar"><img class="img-circle" src="img/avatar4.jpg" alt="Avatar"></span>
						<span class="name">Julie Blank</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<span class="status"></span>
						<span class="avatar"><img class="img-circle" src="img/avatar5.jpg" alt="Avatar"></span>
						<span class="name">Jane Sanders</span>
                    </a>
                </li>
				<li>
            		<a href="#">View all users</a>
				</li>	
			</ul>

		</div>
		<div class="tab-pane" id="messages">
			
			<ul class="messages-list">
            	<li>
                    <a href="#">
						<div class="avatar"><img class="img-circle" src="img/avatar.jpg" alt="Avatar"></div>
						<span class="name">Łukasz Holeczek</span>
						<span class="date">25/6/2013</span>
						<span class="title">Custom Bootstrap design for new client</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<div class="avatar"><img class="img-circle" src="img/avatar2.jpg" alt="Avatar"></div>
						<span class="name">Megan Abott</span>
						<span class="date">25/6/2013</span>
						<span class="title">Custom Bootstrap design for new client</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<div class="avatar"><img class="img-circle" src="img/avatar3.jpg" alt="Avatar"></div>
						<span class="name">Kate Ross</span>
						<span class="date">25/6/2013</span>
						<span class="title">Custom Bootstrap design for new client</span>
                    </a>
                </li>
				<li>
                    <a href="#">
						<div class="avatar"><img class="img-circle" src="img/avatar4.jpg" alt="Avatar"></div>
						<span class="name">Julie Blank</span>
						<span class="date">25/6/2013</span>
						<span class="title">Custom Bootstrap design for new client</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<div class="avatar"><img class="img-circle" src="img/avatar5.jpg" alt="Avatar"></div>
						<span class="name">Jane Sanders</span>
						<span class="date">25/6/2013</span>
						<span class="title">Custom Bootstrap design for new client</span>
                    </a>
                </li>
				<li>
            		<a href="#">View all messages</a>
				</li>	
			</ul>

		</div>
	</div>
			
</div>
<!-- end: Widgets Area -->

<a id="widgets-area-button" class="hidden-tablet hidden-phone open"><i class="fa-icon-reorder"></i></a>				
				</div><!--/fluid-row-->
				
		<div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Settings</h3>
			</div>
			<div class="modal-body">
				<p>Here settings can be configured...</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary">Save changes</a>
			</div>
		</div>
		
		<div class="clearfix"></div>
		
		<footer>
			<p>
				<span style="text-align:left;float:left">&copy; 2013 <a href="http://bootstrapmaster.com" alt="Twitter Bootstrap Themes">creativeLabs</a></span>
				<span class="hidden-phone" style="text-align:right;float:right">Powered by: <a href="http://admintemplates.co" alt="Bootstrap Admin Templates">ACME Dashboard</a></span>
			</p>
		</footer>
				
	</div><!--/.fluid-container-->
