
			<!-- start: Content -->
			<div id="content" class="span11">
			
				
			<div class="row-fluid sortable">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon tasks"></i><span class="break"></span>Sliders</h2>
					</div>
					<div class="box-content">
						<table class="table table-striped">
							<tr>
								<td>basic</td>
								<td>
									<div class="sliderOverlay">
										<div class="slider sliderSimple"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>Minimum</td>
								<td>
									<div class="sliderOverlay">
										<div class="slider sliderMin sliderGreen"></div>
									</div>
									<div class="field_notice">Min: <span class="must sliderMinLabel">$180</span></div>
								</td>
							</tr>
							<tr>
								<td>Maximum</td>
								<td>
									<div class="sliderOverlay">
										<div class="slider sliderMax sliderYellow"></div>
									</div>
									<div class="field_notice">Max: <span class="must sliderMaxLabel">$280</span></div>
								</td>
							</tr>
							<tr>
								<td>Range</td>
								<td>
									<div class="sliderOverlay">
										<div class="slider sliderRange sliderBlue"></div>
									</div>
									<div class="field_notice">Price Range: <span class="must sliderRangeLabel">$192 - $470</span></div>
								</td>
							</tr>
							<tr>
								<td>Equalizer</td>
								<td>
									<div id="sliderVertical-1" class="sliderBlue sliderVertical"></div>
									<div id="sliderVertical-2" class="sliderBlue sliderVertical"></div>
									<div id="sliderVertical-3" class="sliderBlue sliderVertical"></div>
									<div id="sliderVertical-4" class="sliderBlue sliderVertical"></div>
									<div id="sliderVertical-5" class="sliderBlue sliderVertical"></div>
									<div id="sliderVertical-6" class="sliderBlue sliderVertical"></div>
									<div id="sliderVertical-7" class="sliderGreen sliderVertical"></div>
									<div id="sliderVertical-8" class="sliderGreen sliderVertical"></div>
									<div id="sliderVertical-9" class="sliderYellow sliderVertical"></div>
									<div id="sliderVertical-10" class="sliderYellow sliderVertical"></div>
									<div id="sliderVertical-11" class="sliderRed sliderVertical"></div>
									<div id="sliderVertical-12" class="sliderRed sliderVertical"></div>
								</td>
							</tr>
							<tr>
								<td>Blue</td>
								<td>
									<div class="sliderOverlay">
										<div class="slider sliderMin-1 sliderBlue"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>Green</td>
								<td>
									<div class="sliderOverlay">
										<div class="slider sliderMin-2 sliderGreen"></div>
									</div>	
								</td>
							</tr>
							<tr>
								<td>Dark Pink</td>
								<td>
									<div class="sliderOverlay">
										<div class="slider sliderMin-3 sliderPink"></div>
									</div>	
								</td>
							</tr>
							<tr>
								<td>Red</td>
								<td>
									<div class="sliderOverlay">
										<div class="slider sliderMin-4 sliderRed"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td>Yellow</td>
								<td>
									<div class="sliderOverlay">
										<div class="slider sliderMin-5 sliderYellow"></div>
									</div>	
								</td>
							</tr>
							<tr>
								<td>Dark Green</td>
								<td><div class="sliderOverlay">
									<div class="slider sliderMin-6 sliderDarkGreen"></div>
								</td>
							</tr>
							<tr>
								<td>Light Orange</td>
								<td><div class="sliderOverlay">
									<div class="slider sliderMin-7 sliderLightOrange"></div>
								</td>
							</tr>
							<tr>
								<td>Orange</td>
								<td><div class="sliderOverlay">
									<div class="slider sliderMin-8 sliderOrange"></div>
								</td>
							</tr>
						</table>
					</div>	
				</div><!--/span-->
				
			</div><!--/row-->
			
			<hr class="hideInIE8">
			
			<div class="row-fluid hideInIE8">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon tasks"></i><span class="break"></span>Circle Stats</h2>
					</div>
					<div class="box-content">
						
						<div class="circleStats">

							<div class="span2">
		                    	<div class="circleStatsItem orange">
									<i class="fa-icon-thumbs-up"></i>
									<span class="plus">+</span>
									<span class="percent">%</span>
		                        	<input type="text" value="58" class="circleChart" />
		                    	</div>
							</div>
							<div class="span2">	
		                    	<div class="circleStatsItem blue">
		                        	<i class="fa-icon-bullhorn"></i>
									<span class="plus">+</span>
									<span class="percent">%</span>
		                        	<input type="text" value="8" class="circleChart" />
		                    	</div>
							</div>
							<div class="span2">	
								<div class="circleStatsItem yellow">
		                        	<i class="fa-icon-user"></i>
									<span class="plus">+</span>
									<span class="percent">%</span>
		                        	<input type="text" value="12" class="circleChart" />
		                    	</div>
							</div>
							<div class="span2">	
								<div class="circleStatsItem pink">
		                        	<i class="fa-icon-globe"></i>
									<span class="plus">+</span>
									<span class="percent">%</span>
		                        	<input type="text" value="23" class="circleChart" />
		                    	</div>
							</div>
							<div class="span2">
		                    	<div class="circleStatsItem green">
		                        	<i class="fa-icon-bar-chart"></i>
									<span class="plus">+</span>
									<span class="percent">%</span>
		                        	<input type="text" value="34" class="circleChart" />
		                    	</div>
							</div>
							<div class="span2">	
								<div class="circleStatsItem lightOrange">
		                        	<i class="fa-icon-shopping-cart"></i>
									<span class="plus">+</span>
									<span class="percent">%</span>
		                        	<input type="text" value="42" class="circleChart" />
		                    	</div>
							</div>

		                </div>
						<div class="clearfix"></div>
					</div>	
				</div><!--/span-->
				
			</div><!--/row-->
			
			<hr>
			
			<div class="row-fluid sortable">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>Quick Buttons</h2>
					</div>
					<div class="box-content">
						
						<a class="quick-button span2">
							<i class="fa-icon-group"></i>
							<p>Users</p>
							<span class="notification blue">1.367</span>
						</a>
						<a class="quick-button span2">
							<i class="fa-icon-comments-alt"></i>
							<p>Comments</p>
							<span class="notification green">167</span>
						</a>
						<a class="quick-button span2">
							<i class="fa-icon-shopping-cart"></i>
							<p>Orders</p>
						</a>
						<a class="quick-button span2">
							<i class="fa-icon-barcode"></i>
							<p>Products</p>
						</a>
						<a class="quick-button span2">
							<i class="fa-icon-envelope"></i>
							<p>Messages</p>
						</a>
						<a class="quick-button span2">
							<i class="fa-icon-calendar"></i>
							<p>Calendar</p>
							<span class="notification red">68</span>
						</a>
						<div class="clearfix"></div>
					</div>	
				</div><!--/span-->
				
			</div><!--/row-->
			
			<hr>
			
			<div class="row-fluid sortable">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>Small Quick Buttons</h2>
					</div>
					<div class="box-content">
						
						<a class="quick-button-small span1">
							<i class="fa-icon-group"></i>
							<p>Users</p>
							<span class="notification blue">7</span>
						</a>
						<a class="quick-button-small span1">
							<i class="fa-icon-comments-alt"></i>
							<p>Comments</p>
							<span class="notification green">4</span>
						</a>
						<a class="quick-button-small span1">
							<i class="fa-icon-shopping-cart"></i>
							<p>Orders</p>
						</a>
						<a class="quick-button-small span1">
							<i class="fa-icon-barcode"></i>
							<p>Products</p>
						</a>
						<a class="quick-button-small span1">
							<i class="fa-icon-envelope"></i>
							<p>Messages</p>
						</a>
						<a class="quick-button-small span1">
							<i class="fa-icon-calendar"></i>
							<p>Calendar</p>
							<span class="notification red">8</span>
						</a>
						<a class="quick-button-small span1">
							<i class="fa-icon-beaker"></i>
							<p>Projects</p>
						</a>
						<a class="quick-button-small span1">
							<i class="fa-icon-thumbs-up"></i>
							<p>Likes</p>
							<span class="notification green">+ 11</span>
						</a>
						<a class="quick-button-small span1">
							<i class="fa-icon-heart-empty"></i>
							<p>Favorites</p>
						</a>
						<a class="quick-button-small span1">
							<i class="fa-icon-bullhorn"></i>
							<p>Notifications</p>
							<span class="notification orange">7</span>
						</a>
						<a class="quick-button-small span1">
							<i class="fa-icon-cogs"></i>
							<p>Settings</p>
						</a>
						<a class="quick-button-small span1">
							<i class="fa-icon-dashboard"></i>
							<p>Dashboard</p>
						</a>
						
						<div class="clearfix"></div>
					</div>	
				</div><!--/span-->
				
			</div><!--/row-->
			
			<hr>
			
			<div class="row-fluid sortable">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon tasks"></i><span class="break"></span>Progress Bars</h2>
					</div>
					<div class="box-content">
						<table class="table table-striped">
							<tr>
								<td>Basic</td>
								<td>
									<div class="progressBarOverlay">
										<div class="progress simpleProgress progressBlue">80</div>
									</div>	
								</td>
							</tr>
							<tr>
								<td>Progress</td>
								<td>
									<div class="progressBarOverlay">
										<div class="progress progressAnimate progressBlue"></div>
									</div>	
									<div class="field_notice">Value: <span class="must progressAnimateValue">0%</span></div>
								</td>
							</tr>
							<tr>
								<td>Upload</td>
								<td>
									<div class="progressBarOverlay">
										<div class="progress progressUploadAnimate progressBlue"></div>
									</div>
									<div class="field_notice">Uploading: <span class="must progressUploadAnimateValue">0 Mb</span> / 4096 Gb</div>
								</td>
							</tr>
						</table>
					</div>	
				</div><!--/span-->
				
			</div><!--/row-->
			
			<hr>
			
			<div class="row-fluid sortable">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon tasks"></i><span class="break"></span>Skill Bars</h2>
					</div>
					<div class="box-content">
						<ul class="skill-bar">
				        	<li>
				            	<h5>Web Design ( 40% )</h5>
				            	<div class="meter"><span style="width: 40%"></span></div><!-- Edite width here -->
				          	</li>
				          	<li>
				            	<h5>Wordpress ( 80% )</h5>
				            	<div class="meter"><span style="width: 80%"></span></div><!-- Edite width here -->
				          	</li>
				          	<li>
				            	<h5>Branding ( 100% )</h5>
				            	<div class="meter"><span style="width: 100%"></span></div><!-- Edite width here -->
				          	</li>
				          	<li>
				            	<h5>SEO Optmization ( 60% )</h5>
				            	<div class="meter"><span style="width: 60%"></span></div><!-- Edite width here -->
				          	</li>
				      	</ul>
					</div>	
				</div><!--/span-->
				
			</div><!--/row-->
			
			<hr>
			
			<div class="row-fluid sortable">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon tasks"></i><span class="break"></span>Standard Progress Bars</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<h3>Basic</h3>
						<div class="progress">
							<div class="bar" style="width: 70%;"></div>
						</div>
						<h3>Striped</h3>
						<div class="progress progress-striped">
							<div class="bar" style="width: 30%;"></div>
						</div>
						<h3>Animated</h3>
						<div class="progress progress-striped progress-success active">
							<div class="bar" style="width: 50%;"></div>
						</div>
						<h3>Additional Colors</h3>
						<div class="progress progress-info progress-striped" style="margin-bottom: 9px;">
							<div class="bar" style="width: 20%"></div>
						</div>
						<div class="progress progress-success" style="margin-bottom: 9px;">
							<div class="bar" style="width: 40%"></div>
						</div>
						<div class="progress progress-warning progress-striped active" style="margin-bottom: 9px;">
							<div class="bar" style="width: 60%"></div>
						</div>
						<div class="progress progress-danger progress-striped" style="margin-bottom: 9px;">
							<div class="bar" style="width: 80%"></div>
						</div>
					</div>
				</div><!--/span-->
			</div><!--/row-->
			
			<hr>
			
			<div class="row-fluid sortable">	
				<div class="box span12">
					
					<div class="box-header">
						<h2><i class="halflings-icon bullhorn"></i><span class="break"></span>Alerts</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content alerts">
						<div class="alert alert-error">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Oh snap!</strong> Change a few things up and try submitting again.
						</div>
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Well done!</strong> You successfully read this important alert message.
						</div>
						<div class="alert alert-info">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
						</div>
						<div class="alert alert-block ">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<h4 class="alert-heading">Warning!</h4>
							<p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
						</div>
					</div>
					
				</div><!--/span-->
			</div><!--/row-->
			
			<hr>
			
			<div class="row-fluid sortable">	
				<div class="box span12">
					
					<div class="box-header">
						<h2><i class="halflings-icon bell"></i><span class="break"></span>Growl Like Notifications</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<div class="alert alert-block">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<h4 class="alert-heading">Attention!</h4>
							<p>Click buttons below to see Pop Notifications.</p>
						</div>
						<p class="center">
							<button class="btn btn-primary" id="add-regular"><i class="halflings-icon bell halflings-icon"></i>Regular</button>
							<button class="btn btn-primary" id="add-sticky"><i class="halflings-icon bell halflings-icon"></i>Sticky</button>
							<button class="btn btn-primary" id="add-without-image"><i class="halflings-icon bell halflings-icon"></i>w/o image</button>
							<button class="btn btn-primary" id="add-gritter-light"><i class="halflings-icon bell halflings-icon"></i>White</button>
							<button class="btn btn-primary" id="remove-all"><i class="halflings-icon bell halflings-icon"></i>Remove All</button>
						</p>
					</div>
					
				</div><!--/span-->
			</div><!--/row-->
			
			<hr>
			
			<div class="row-fluid sortable">	
				<div class="box span12">
					
					<div class="box-header">
						<h2><i class="halflings-icon bell"></i><span class="break"></span>Bootstrap Notifications</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<div class="alert alert-block">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<h4 class="alert-heading">Attention!</h4>
							<p>Click buttons below to see Pop Notifications.</p>
						</div>
						<p class="center">
							<button class="btn btn-primary noty" data-noty-options='{"text":"This is a success notification","layout":"topLeft","type":"success"}'><i class="halflings-icon bell halflings-icon"></i> Top Left</button>
							<button class="btn btn-primary noty" data-noty-options='{"text":"This is an alert notification with fade effect","layout":"topCenter","type":"alert","animateOpen": {"opacity": "show"}}'><i class="halflings-icon bell halflings-icon"></i> Top Center (fade)</button>
							<button class="btn btn-primary noty" data-noty-options='{"text":"This is an error notification","layout":"topRight","type":"error"}'><i class="halflings-icon bell halflings-icon"></i> Top Right</button>
							<button class="btn btn-primary noty" data-noty-options='{"text":"This is a success information","layout":"top","type":"information"}'><i class="halflings-icon bell halflings-icon"></i> Top Full Width</button>
							<button class="btn btn-primary noty" data-noty-options='{"text":"This is an alert notification with fade effect","layout":"center","type":"alert","animateOpen": {"opacity": "show"}}'><i class="halflings-icon bell halflings-icon"></i> Center (fade)</button>
							<button class="btn btn-primary noty" data-noty-options='{"text":"This is an error notification","layout":"center","type":"error"}'><i class="halflings-icon bell halflings-icon"></i> Center</button>

							<button class="btn btn-primary noty" data-noty-options='{"text":"This is an error notification","layout":"bottomLeft","type":"error"}'><i class="halflings-icon bell halflings-icon"></i> Bottom Left</button>
							<button class="btn btn-primary noty" data-noty-options='{"text":"This is an alert notification with fade effect","layout":"bottomRight","type":"alert","animateOpen": {"opacity": "show"}}'><i class="halflings-icon bell halflings-icon"></i> Bottom Right (fade)</button>

							<button class="btn btn-primary noty" data-noty-options='{"text":"This is an alert","layout":"bottom","type":"alert","closeButton":"true"}'><i class="halflings-icon bell halflings-icon"></i> Bottom Full Width with Close Button</button>
						</p>
					</div>
					
				</div><!--/span-->
			</div><!--/row-->
			
			<hr>
			
			<div class="row-fluid sortable">	
				<div class="box span4">
					<div class="box-header">
						<h2><i class="halflings-icon plus"></i><span class="break"></span>Extended Elements</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-bordered table-striped">
							<tr>
								<td>Star Rating</td>
								<td>
									<span class="rating">
				                        <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
				                    </span>
								</td>
							</tr>
							<tr>
								<td>Popover</td>
								<td>
									<a href="#" class="btn btn-danger" data-rel="popover" data-content="And here's some amazing content. It's very engaging. right?" title="A Title">Hover for popover</a>
								</td>
							</tr>
							<tr>
								<td>Dialog</td>
								<td>
									<a href="#" class="btn btn-info btn-setting">Click for dialog</a>
								</td>
							</tr>
							<tr>
								<td>Tooltip</td>
								<td>
									<a href="#" title="Tooltip, you can change the position." data-rel="tooltip" class="btn btn-warning">Hover for tooltip</a>
								</td>
							</tr>
						</table>
					</div>	
				</div><!--/span-->
				
				<div class="box span2">
					<div class="box-header">
						<h2><i class="halflings-icon eye-open"></i><span class="break"></span>Labels</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-bordered table-striped">
							<tbody>
							  <tr>
								<td>
								  <span class="label">Default</span>
								</td>
							  </tr>
							  <tr>
								<td>
								  <span class="label label-success">Success</span>
								</td>
							  </tr>
							  <tr>
								<td>
								  <span class="label label-warning">Warning</span>
								</td>
							  </tr>
							  <tr>
								<td>
								  <span class="label label-important">Important</span>
								</td>
							  </tr>
							  <tr>
								<td>
								  <span class="label label-info">Info</span>
								</td>
							  </tr>
							  <tr>
								<td>
								  <span class="label label-inverse">Inverse</span>
								</td>
							  </tr>
							</tbody>
						  </table>
					</div>
				</div><!--/span-->
				
				<div class="box span6">
					<div class="box-header">
						<h2><i class="halflings-icon list"></i><span class="break"></span>Buttons</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content buttons">
						<p>
							<button class="btn btn-large">Large button</button>
							<button class="btn btn-large btn-primary">Large button</button>
							<button class="btn btn-large btn-danger">Large button</button>
							<button class="btn btn-large btn-warning">Large button</button>
						</p>
						<p>
							<button class="btn btn-large btn-success">Large button</button>
							<button class="btn btn-large btn-info">Large button</button>
							<button class="btn btn-large btn-inverse">Large button</button>
						</p>
						<p>
							
						</p>
						<div class="btn-group">
							<button class="btn btn-large">Large Dropdown</button>
							<button class="btn btn-large dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="halflings-icon star"></i> Action</a></li>
								<li><a href="#"><i class="halflings-icon tag"></i> Another action</a></li>
								<li><a href="#"><i class="halflings-icon download-alt"></i> Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#"><i class="halflings-icon tint"></i> Separated link</a></li>
							</ul>
						</div>
						
						<hr>
						
						<p class="btn-group">
							  <button class="btn">Left</button>
							  <button class="btn">Middle</button>
							  <button class="btn">Right</button>
						</p>
						<p>
							<button class="btn btn-small"><i class="halflings-icon star"></i> Icon button</button>
							<button class="btn btn-small btn-primary">Small button</button>
							<button class="btn btn-small btn-danger">Small button</button>
							<button class="btn btn-small btn-warning">Small button</button>
							<button class="btn btn-small btn-success">Small button</button>
							
						</p>
						<p>
							<button class="btn btn-small btn-info">Small button</button>
							<button class="btn btn-small btn-inverse">Small button</button>
							<button class="btn btn-large btn-primary btn-round">Round button</button>
							<button class="btn btn-large btn-round"><i class="halflings-icon ok"></i></button>
							<button class="btn btn-primary"><i class="halflings-icon edit halflings-icon"></i></button>
						</p>
						<p>
							<button class="btn btn-mini">Mini button</button>
							<button class="btn btn-mini btn-primary">Mini button</button>
							<button class="btn btn-mini btn-danger">Mini button</button>
							<button class="btn btn-mini btn-warning">Mini button</button>
							<button class="btn btn-mini btn-info">Mini button</button>
							<button class="btn btn-mini btn-success">Mini button</button>
							<button class="btn btn-mini btn-inverse">Mini button</button>
						</p>
						
					</div>
				</div><!--/span-->
				
			</div><!--/row-->
			
			<hr>
			
			<div class="row-fluid">
				
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon list"></i><span class="break"></span>3d Buttons</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content buttons">
						<p>
							<button class="btn3d btn-large">Large button</button>
							<button class="btn3d btn-large btn-primary">Large button</button>
							<button class="btn3d btn-large btn-danger">Large button</button>
							<button class="btn3d btn-large btn-warning">Large button</button>
							<button class="btn3d btn-large btn-success">Large button</button>
							<button class="btn3d btn-large btn-info">Large button</button>
							<button class="btn3d btn-large btn-inverse">Large button</button>
						</p>
						
						<hr>
						
						<p>
							<button class="btn3d btn-small"><i class="halflings-icon star"></i> Icon button</button>
							<button class="btn3d btn-small btn-primary">Small button</button>
							<button class="btn3d btn-small btn-danger">Small button</button>
							<button class="btn3d btn-small btn-warning">Small button</button>
							<button class="btn3d btn-small btn-success">Small button</button>
							
						</p>
						<p>
							<button class="btn3d btn-small btn-info">Small button</button>
							<button class="btn3d btn-small btn-inverse">Small button</button>
							<button class="btn3d btn-large btn-primary btn-round">Round button</button>
							<button class="btn3d btn-large btn-round"><i class="halflings-icon ok"></i></button>
							<button class="btn3d btn-small btn-primary btn-round"><i class="halflings-icon edit halflings-icon"></i></button>
						</p>
						<p>
							<button class="btn3d btn-mini">Mini button</button>
							<button class="btn3d btn-mini btn-primary">Mini button</button>
							<button class="btn3d btn-mini btn-danger">Mini button</button>
							<button class="btn3d btn-mini btn-warning">Mini button</button>
							<button class="btn3d btn-mini btn-info">Mini button</button>
							<button class="btn3d btn-mini btn-success">Mini button</button>
							<button class="btn3d btn-mini btn-inverse">Mini button</button>
						</p>
						
					</div>
				</div><!--/span-->
			
			</div><!--/row-->
			
			<hr>
			
			<div class="row-fluid sortable">
				
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon th"></i><span class="break"></span>Tabs</h2>
					</div>
					<div class="box-content">
						<ul class="nav tab-menu nav-tabs" id="myTab">
							<li class="active"><a href="#info">Info</a></li>
							<li><a href="#custom">Custom</a></li>
							<li><a href="#messages">Messages</a></li>
						</ul>
						 
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane active" id="info">
								<p>

									Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.   
								</p>

							</div>
							<div class="tab-pane" id="custom">
								<p>
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.   
								</p>
							</div>
							<div class="tab-pane" id="messages">
								<p>
									Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.   
								</p>
								<p>
									Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
								</p>
							</div>
						</div>
					</div>
				</div><!--/span-->
			
			</div><!--/row-->			
		
					
			</div>
			<!-- end: Content -->
